@inherits LayoutComponentBase



<div class="top-row" >
	<ClientNavMenu  />
</div>

<main style="width:100%;">
	@* <article class="content px-4"> *@
		@Body
	@* </article> *@

</main>

<Footer></Footer>

@code {

}
